@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .min-h-calc {
        min-height: calc(100vh - 60px);
    }
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}
